<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richiejose.helpme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-feature android:name="android.hardware.telephony" />


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CALL_PRIVILEGED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <application
        android:allowBackup="true"
        android:name="com.richiejose.helpme.HelpMeApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <receiver android:name="com.richiejose.helpme.SimpleSmsReciever">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED">
                </action>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.richiejose.helpme.MainActivityNew" android:screenOrientation="portrait"
             />

        <activity android:name="com.richiejose.helpme.ExitActivity"/>
        <activity android:name="com.richiejose.helpme.AddTextActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.richiejose.helpme.AddCallActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.richiejose.helpme.SettingsActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.richiejose.helpme.SafeHoldActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.richiejose.helpme.AddCallFirstActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.richiejose.helpme.AddTextFirstActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.richiejose.helpme.SOSActivity"/>
        <activity android:name="com.richiejose.helpme.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
